<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | prepend: relative_root_url }}">Darwin Streaming Server</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ '/releases' | prepend: site.github.repository_url }}">Downloads</a></li>
        <li><a href="{{ '/faq/' | prepend: relative_root_url }}">FAQ</a></li>
        <li><a href="{{ site.github.repository_url }}">Development</a></li>
      </ul>
    </div>
  </div>
</nav>
